.topSection {
  text-align: center;
  height: 94vh;
  position: relative;
  animation: fadeIn 3s;
  scroll-snap-align: start;
  padding-top: 3rem;
  /*this is added for scroll snap*/
}

.topSectionHello {
  margin-top: 5rem;
  vertical-align: middle;
  display: grid;
}

.topSectionHelloRightImage  {
  width: 320px;
}

.topSectionIcons img {
  width: 2rem;
  padding: 1rem;
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Larger Devices*/
@media (min-width: 800px) {
  .topSectionHello {
    grid-template-columns: repeat(auto-fit, minmax(491px, 1fr));
  }

  .topSectionHelloRightImage{
    width: 400px;
  }
}
