.App {
    text-align: center;

}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(100%);
    background: url('../images/site-background.jpg') top center no-repeat #bababa;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}


.App-link {
    color: #61dafb;
}


.App-site-sidebar a {
    color: inherit;
    text-decoration: inherit;

}


.App-HomePage-Name {
    color: white;
    font-size: 4rem;
    margin-top: 15%;
    margin-left: 20%;
    font-weight: 500;
}

.App-HomePage-Desc {
    color: white;
    font-size: 2rem;
    margin-left: 25%
}

.App-HomePage-logos {
    background-color: #fff;
    width: 30%;
    height: 4rem;
    margin-left: 45%;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);

}

.App-HomePage-logos img {
    padding: 10px;
    width: 3rem;
    height: 3rem;
    transition: transform 0.2s; /* Animation */
}

.App-HomePage-logos img:hover {
    transform: scale(1.3);
}


.App-site-sidebar-inner {
    padding: 10px;
}


.App-boxshadow {

    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.App-Offer {

    background-color: white;
    margin-left: 28%;
    margin-top: 10%;
    margin-right: 3%;
    height: 20em;

}

.App-Portfolio {
    background-color: white;
    margin-left: 28%;
    margin-top: 10%;
    margin-right: 3%;
    height: 20em;
    overflow-y:scroll;

}
.App-ContactMe {
    background-color: white;
    margin-left: 28%;
    margin-top: 10%;
    margin-right: 3%;
    height: 20em;

}


.navigation-extendable a,
.navigation-extendable li {
    cursor: pointer;
    list-style: none;
}


.hiddenCard {
    display: none;
}


/* Screens */
@media screen and (min-width: 1000px) {
    .App-site-sidebar {

        top: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: 2;
        width: 25%;
        font-size: 14px;
        color: #fff;
        text-align: left;
        background-color: rgb(24, 125, 191, 0.7)
    }


}

/* Mobile */
@media screen and (max-width: 1000px) {
    .App-site-sidebar {

        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        font-size: 14px;
        color: #fff;
        text-align: left;
        background-color: rgb(24, 125, 191, 0.7)
    }

    .App-HomePage-logos {

        height:auto; margin-left: 35%; margin-top:10%;
    }
    .App-HomePage-Name,.App-HomePage-Desc{

        margin-left: 10%;
    }

    .App-Offer,
    .App-Portfolio,
    .App-ContactMe {

        margin-left: 2%;
    }

    .App-Sections-Mobile {
        margin-left: 10%;

    }

    .navigation-extendable a {
        font-size: 1.5em;
    }

    .navigation-extendable li {
        display: inline;
        margin-left: 3%;
        margin-right: 3%;
    }

    .navigation-extendable ul
    {
padding:0;
    }


  

}
