.projectCard,
.projectCard img {
  width: 20rem;
  height: 15rem;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.projectCardHeading {
  position: relative;
  top: -1.8rem;
  background: white;
  opacity: 0.6;
  width: 100%;
  margin: 0;
  height: 1.4rem;
  overflow: hidden;
  font-size: 1.3rem;
}
.projectCard:hover > .projectCardHeading {
  height: 12rem;
  top: -12rem;
  transition: top 0.5s;
  overflow: hidden;
  opacity: 0.8;
}



.workSection .sectionContents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-items: center;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.workSection .sectionContents a {

  cursor: pointer;
  text-decoration: none;
  color:black;

}

/* Larger Devices*/
@media (min-width: 800px) {
  .workSection .sectionContents {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    
  }

  .workSection{
    height: 94vh;
  }
}
