$theme-color-yellow: #f9d976;
$theme-color-pink: #f39f86;
$theme-color-black: #4c4c4c;

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.gridContainer {
  display: grid;
  min-height: 98vh;
}

.cards {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  grid-gap: 1rem;
}

.headSection {
  height: 78vh;
  margin-top: 5rem;
}

.gridFooter {
  background-color: $theme-color-black;
  height: 3rem;
  clear: both;
  position: relative;

  margin-top: 3rem;
}

.headSectionImg {
  width: 100%;
}

@media (min-width: 680px) {
}
