$theme-color-yellow: #f9d976;
$theme-color-pink: #f39f86;
$theme-color-black: #4c4c4c;

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html{
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
}

.bodyWrapper {
  display: grid;
  min-height: 98vh;
}

.contents {
  width: 90%;
  height: 94%;
  margin: 0 auto;

}


.footer {
  background-color: $theme-color-black;
  scroll-snap-align: start;
  height: 3rem;
  clear: both;
  position: relative;
  margin-top: 5rem;

}



