/**
This file contains global colors and fonts. Pls use @use in reset of the css
*/

html {
  --headerColorGradientStart: #f39f86;
  --headerColorGradientEnd: #f9d976;
}



html [data-theme="mustard"] {
  --headerColorGradientStart: #f39f86;
  --headerColorGradientEnd: #f9d976;
}

html[data-theme="sea"] {
  --headerColorGradientStart: #76f9b1;
  --headerColorGradientEnd: #76F9F3;
}


html[data-theme="tomato"] {
  --headerColorGradientStart: #FF6347;
  --headerColorGradientEnd: #ff371468;
}

