
.myExperience img {
  width: 3rem;
  padding: 1rem;
}


.myExperience .sectionContents {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 3rem;
}
