.gridHeader {
  background-color: #f39f86;
  background-image: linear-gradient(
    315deg,
    var(--headerColorGradientStart) 0%,
    var(--headerColorGradientEnd) 74%
  );
  grid-column: 1 / span 1;
  height: 3rem;

  position: sticky;
  top: 0;
  z-index: 100;
}
.gridHeader ul {
  display: table;
  text-align: center;
  float: right;
}

/*Header Css*/
.headerLayout {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.headerLogoSection {
  display: flex;
  align-items: center;
}
.headerLogoSection img {
  width: 2.8rem;
}

.headerTitleSection {
  font-size: 1.4rem;
}

.desktopNav {
  padding: 0;
}
.desktopNav > li {
  display: table-cell;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

@media (max-width: 620px) {
  .headerLayout {
    grid-template-columns: 0.6fr 1fr;
  }
}

/*Buger Menu*/

.closeButton {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.burgerButton {
  margin: 0.5rem;
  float: right;
}

.menuContainer {
  width: 100%;
  z-index: 100;
  display: inline-block;
  // background-color: #f39f86;
  background-color: var(--headerColorGradientEnd);
  // background-image: gcss.$headerColorGradient;
  //background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  position: absolute;
  left: 0;
}

.menuContainer > ul {
  list-style: none;
  font-size: 3rem;
  margin-left: 13%;
  float: none;
}


.appBar
{
  position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #eeee;

  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);

  ul{
    list-style: none;
    display: flex;
    float: none;
    justify-content: center;
    padding:0;

    li img{
      width:3rem;
      height:3rem;
      padding:0rem 1rem;
    }
  }

}

