.credentialSection .sectionContents img {
    width: 9rem;
    padding: 1rem;

}

.credentialSection .sectionContents {
    text-align: center;
}

.credentialSection .sectionContents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  justify-items: center;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

/* Larger Devices*/
@media (min-width: 800px) {

  .credentialSection .sectionContents {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    
  }
  
    .credentialSection {
      height: 94vh;
    }
  }
  